html, body{
    height: 100%;
}
#photos-slider{
    height: 100% !important;
}
.header-section{
    background-color: #fff;
}
.navbar-default .navbar-nav > .active > a{
    color: #da4c3e;
}
.menu-block .navbar-nav > li > a{
    color: #333;
}
.menu-block .navbar-nav > li > a:hover{
    color: #777;
}
.header-section.navbar-fixed-top{
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}
.section-header{
    padding-top: 60px;
    padding-bottom: 60px;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.vertical-container{
    display: table;
    width: 100%;
    height: 100%;
}
.vertical-align{
    display: table-cell;
    vertical-align: middle;
}
.slider-section .slide-title{
    position: static;
    top: auto;
}
.slider-section .left .slide-sub-title{
    bottom: auto;
    top: 46px;
}
.slider-section .left .slide-sub-title span{
    font-size: 24px;
    line-height: 24px;
}
.slider-section .left .slide-sub-title span > span{
    display: inline-block;
    background-color: #333;
    padding: 3px 4px;
    margin-bottom: 5px;
}
.introduction{
    padding-bottom: 80px;
}
.introduction p{
    font-size: 18px;
    line-height: 25px;
    color: #000;
    font-weight: 400;
    text-indent: 2em;
    text-align: justify;
}
.img-full{
    width: 100%;
}
.why-choose{
    margin-bottom: -8px;
}
.genius-gallery{
    max-width: 1880px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    display: block;
}
.our-genius .style1,
.our-genius .style2,
.our-genius .style3,
.our-genius .style4,
.our-genius .style5,
.our-genius .style6,
.our-genius .style7,
.our-genius .style1 img,
.our-genius .style2 img,
.our-genius .style3 img,
.our-genius .style4 img,
.our-genius .style5 img,
.our-genius .style6 img,
.our-genius .style7 img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.idea{
    margin-top: 16px;
    font-size: 16em;
}
.portfolio-modal{
    z-index: 99999;
    padding-right: 0 !important;
}
.portfolio-modal.modal.in .modal-dialog{
    transform: none;
}
.portfolio-modal .modal-dialog {
    margin: 0;
    height: 100%;
    width: auto;
}
.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0;
}
.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}
.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0;
}
.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}
.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
}
.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #222222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari and Chrome */
    z-index: 1052;
}
.portfolio-modal .modal-backdrop {
    opacity: 0;
    display: none;
}
.open-modal{
    text-transform: uppercase;
    font-style: normal;
    background-color: #333;
    border-radius: 0;
    color: #fff;
}
.why-choose  h2,
.features-section h2{
    text-transform: none;
}
.why-choose  h2 div,
.features-section h2 div{
    display: inline-block;
    position: relative;
}
.why-choose h2 small,
.features-section h2 small{
    text-transform: lowercase;
    font-size: 28px;
    color: inherit;
}
.why-choose h2 div:before,
.features-section h2 div:before{
    position: absolute;
    top: -22px;
    font-size: 24px;
    font-weight: 300;
}
.why-choose h2 div:before{
    content: "Primary Choice";
}
.features-section h2 div:before{
    content: "Secondary Choice";
}
.why-choose .description{
    margin-top: 20px;
    margin-left: 100px;
    padding-left: 35px;
    color: #fff;
    font-style: normal;
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
    .why-choose .description{
        float: right;
    }
}
.why-choose-box{
    margin-top: 25px;
}
.our-app .section-header h2{
    font-size: 34px;
}
.our-app .section-header{
    padding-bottom: 16px;
}
.our-app{
    padding: 40px 0;
    background-color: #eee;
}
.our-app .description{
    font-size: 18px;
    line-height: 25px;
    color: #000;
    font-weight: 400;
    text-indent: 2em;
    text-align: justify;
}
@media (min-width: 767px) {
    .our-app .row{
        display: flex;
        align-items: center;
    }
}
.our-app .row {
.slider-section .slide-title span.inner-circle span{
    text-shadow: 0 0 5px #333;
}
.brag-about-section{
    padding: 30px 0;
}
@media (max-width: 991px) {
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #888;
    }
    .navbar-collapse{
        margin-top: 15px;
        border-top: none;
    }
}
