html, body{
    height: 100%;
}
#photos-slider{
    height: 100% !important;
}
.header-section{
    background-color: #fff;
}
.menu-block .navbar-nav > li > a{
    color: #333;
}
.menu-block .navbar-nav > li > a:hover{
    color: #777;
}
.header-section.navbar-fixed-top{
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}
.section-header{
    padding-top: 60px;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.vertical-container{
    display: table;
    width: 100%;
    height: 100%;
}
.vertical-align{
    display: table-cell;
    vertical-align: middle;
}
.slider-section .slide-title{
    position: static;
    top: auto;
}
.slider-section .left .slide-sub-title{
    bottom: auto;
    top: 46px;
}
.slider-section .left .slide-sub-title span{
    font-size: 24px;
    line-height: 24px;
}
.slider-section .left .slide-sub-title span > span{
    display: inline-block;
    background-color: #333;
    padding: 3px 4px;
    margin-bottom: 5px;
}
.introduction{
    padding-bottom: 80px;
}
.introduction p{
    font-size: 18px;
    line-height: 25px;
    color: #666766;
    font-weight: 300;
}
.img-full{
    width: 100%;
}
.why-choose{
    margin-bottom: -8px;
}
@media (max-width: 991px) {
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #888;
    }
    .navbar-collapse{
        margin-top: 15px;
        border-top: none;
    }
}
