html, body{
    height: 100%;
}
#photos-slider{
    height: 100% !important;
}
.header-section{
    background-color: #fff;
}
.navbar-default .navbar-nav > .active > a{
    color: #da4c3e;
}
.menu-block .navbar-nav > li > a{
    color: #333;
}
.menu-block .navbar-nav > li > a:hover{
    color: #777;
}
.header-section.navbar-fixed-top{
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}
.section-header{
    padding-top: 60px;
    padding-bottom: 60px;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.vertical-container{
    display: table;
    width: 100%;
    height: 100%;
}
.vertical-align{
    display: table-cell;
    vertical-align: middle;
}
.slider-section .slide-title{
    position: static;
    top: auto;
}
.slider-section .left .slide-sub-title{
    bottom: auto;
    top: 46px;
}
.slider-section .left .slide-sub-title span{
    font-size: 24px;
    line-height: 24px;
}
.slider-section .left .slide-sub-title span > span{
    display: inline-block;
    background-color: #333;
    padding: 3px 4px;
    margin-bottom: 5px;
}
.introduction{
    padding-bottom: 80px;
}
.introduction p{
    font-size: 18px;
    line-height: 25px;
    color: #000;
    font-weight: 400;
    text-indent: 2em;
    text-align: justify;
}
.img-full{
    width: 100%;
}
.why-choose{
    margin-bottom: -8px;
}
.genius-gallery{
    max-width: 1910px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    display: block;
}
.our-genius .style1,
.our-genius .style2,
.our-genius .style3,
.our-genius .style4,
.our-genius .style5,
.our-genius .style6,
.our-genius .style7,
.our-genius .style1 img,
.our-genius .style2 img,
.our-genius .style3 img,
.our-genius .style4 img,
.our-genius .style5 img,
.our-genius .style6 img,
.our-genius .style7 img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.idea{
    margin-top: 16px;
    font-size: 16em;
}
@media (max-width: 991px) {
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #888;
    }
    .navbar-collapse{
        margin-top: 15px;
        border-top: none;
    }
}
